<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>予約サイト</title>
    <style>
        body {
            width: 960px;
            margin: 0 auto;
        }
    </style>
</head>

<body>

{% for message in messages %}
    <p> {{ message }}</p>
{% endfor %}

{% block content %}{% endblock %}

</body>
</html>