<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>予約サイト</title>
    <style>
        body {
            width: 960px;
            margin: 0 auto;
            padding-top: 50px;
        }

        nav > a {
            margin-right: 10px;
        }


    </style>
</head>

<body>

<nav>
    <a href="{% url 'booking:store_list' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'booking:my_page' %}">MyPage</a>
        <a href="{% url 'booking:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'booking:login' %}">Login</a>
    {% endif %}
</nav>

{% for message in messages %}
    <p> {{ message }}</p>
{% endfor %}

{% block content %}{% endblock %}

</body>
</html>