{% extends 'booking/base.html' %}

{% block content %}

    <h1>{{ staff.store.name }}店 {{ staff.name }}</h1>
    <p>{{ start_day }} - {{ end_day }}</p>
    <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%" border="1">
        <tr>
            <td><a href="{% url 'booking:calendar' staff.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
                {% if day in public_holidays %}
                    <th style="background-color: yellow">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 5 %}
                    <th style="color: blue;">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 6 %}
                    <th style="color: red;">{{ day | date:"d(D)" }}</th>
                {% else %}
                    <th>{{ day | date:"d(D)" }}</th>
                {% endif %}
            {% endfor %}
            <td><a href="{% url 'booking:calendar' staff.pk next.year next.month next.day %}">次週</a></td>
        </tr>

        {% for hour, schedules in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ hour }}:00
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if dt <= today %}
                            -
                        {% elif book %}
                            <a href="{% url 'booking:booking' staff.pk dt.year dt.month dt.day hour %}">○</a>
                        {% else %}
                            ×
                        {% endif %}
                    </td>

                {% endfor %}
                <td>
                    {{ hour }}:00
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}