{% extends 'booking/base.html' %}

{% block content %}
    <h1>{{ user.username }}のMyPage</h1>
    <h2>所属店舗</h2>
    <ul>
        {% for staff in staff_list %}
            <li><a href="{% url 'booking:my_page_calendar' staff.pk %}">{{ staff }}</a></li>
        {% empty %}
            <li>まだ店舗がありません。</li>
        {% endfor %}
    </ul>

    <h2>直近の予約</h2>
    <ul>
        {% for schedule in schedule_list %}
            <li><a href="{% url 'booking:my_page_schedule' schedule.pk %}">{{ schedule }}</a></li>
        {% empty %}
            <li>予約はありません。</li>
        {% endfor %}
    </ul>
{% endblock %}